* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url(https://img-c.udemycdn.com/course/750x422/4393944_5648_2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: fit; */
  background: linear-gradient(-45deg, #e0e5e2, #9d9dd1, #efe8e8, #eb0606);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  position: absolute;
  background-color: rgb(129, 152, 198);
  /* background-image: url(https://www.shutterstock.com/image-photo/symbol-gender-equality-on-blue-260nw-1832063104.jpg); */
  background-repeat: none;
  background-size: cover;
  background-size: 50rem;

  width: 90%;
  max-width: 31.25em;
  /* height: 90%; */
  /* transform: translate(-50% -50%); */
  top: 30%;
  left: 35%;
  padding: 3em 2em;
  border-radius: 0.5em;
  /* margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem; */
}
.wrapper {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
  margin: 2.5em 0;
}

#input,
#click {
  font-size: 1em;
}
#input {
  /* background-image: url(https://www.shutterstock.com/image-photo/symbol-gender-equality-on-blue-260nw-1832063104.jpg); */
  padding: 0.8em 0.5em;
  border: 1px solid;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 5px;
  color: #03151d;
}
#input:hover,
#input:focus,
#input:active {
  color: #5680cf;
  line-height: 30px;
}

#click {
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 0.5em;
}
#click:hover,
#click:focus,
#click:active {
  box-shadow: 0 0 20px rgba(red, green, blue, alpha);
  -webkit-transform: scale(1.1);
}
#name {
  text-align: center;
  border: 8px;
  color: rgb(94, 59, 53);
  top: 19px;
  right: 76px;
  bottom: 20px;
  padding: 10px;
  /* font-family: "Rubik Doodle Shadows", sans-serif; */
}
#pic {
  height: 8em;
  align-items: center;
  justify-content: center;
}
@media (min-width: 600px) {
  .container {
    width: 90%;
    max-width: 600px;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 90px;
  }
}
